@font-face {
  font-family: Neureal;
  src: url('/src/assets/NeurealTrial-Regular.otf') format('opentype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #FCF9F3;
  font-family: 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

svg {
  background-color: #34495e;
  border: 10px solid #2c3e50;
  border-radius: 15px;
  display: block;
  margin: 50px auto;
}

.no-scroll {
  overflow: hidden;
}

img {
  transition: transform 0.5s ease;
}